extends layout

block content
  h1= title
  div(class="input-group mb-3")
    span(class="input-group-text") #
    input(type="text", id="txtInput", placeholder="Enter your text", class="form-control" )
    button(type="button", id="btnSubmit", class="btn btn-primary") Submit
  
  div Response: <span id="result"></span>

  script(src="https://code.jquery.com/jquery-3.6.0.min.js")
  script.
    function submitText() {
      const txtInput = $('#txtInput');
      const userInput = txtInput.val();
      $.post('change', { text: userInput }, function(response) {
        // Handle successful response
        const receivedText = response.received;
        $('#result').text(JSON.stringify(receivedText));
        txtInput.val('');
      }).fail(function(xhr, status, error) {
        // Handle error
        $('#result').html('Error: ' + error);
      });
    }

    $(document).ready(function() {
      const txtInput = $('#txtInput');
      txtInput.on('keypress', function(event) {
        if (event.key === 'Enter') {
          submitText();
        }
      });
      const btnSubmit = $('#btnSubmit');
      btnSubmit.on('click', function() {
        submitText();
      });

    });
